# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive
# flymake-mode
*_flymake.*
# eshell files
/eshell/history
/eshell/lastdir
# elpa packages
/elpa/
# reftex files
*.rel
# AUCTeX auto folder
/auto/
*.os
tests/regressions/*.bc
i_*.bc

# never read in
*.ll

# temp bitcode files
tmppass.bc
tmppass-allocas.bc
*-ngep.bc

i_*.s
*.out
*.out2

.sconsign.dblite
.sconf_temp
config.log

*.pyc
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# astyle backups
*.orig

# configuration file
instr.sh

# output folder
Release+Asserts/*.*
*.swp
